*{
    margin: 0;
}
.link{
    text-decoration: none;
    color: inherit;
}

.navbar{
    margin: 0;
    padding: 0;
    width: inherit;
    height: 50px;
    background-color: black;
    /* border: 1px solid #fe0914; */
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0px 50px;
    height: 100%;
    color: white;
    font-family: 'Sen', sans-serif;
    width: 100%;
}

.logo-container{
    flex: 1;
}

.logo{
    font-family: 'Sen', sans-serif;
    font-size: 30px;
    color: #fe0914;
    cursor: pointer;
    letter-spacing: 0.03em;
}

.menu-container{
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-list-item{
    display: flex;
    margin-right: 30px;
    padding-bottom: 3px;
}

.menu-list-item:hover{
    border-bottom: 4px solid green;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    opacity: 0.8;
}

.menu-list-item.active{
    font-weight: bold;
}


.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.profile-picture{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text-container{
    margin-left: 20px;
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    margin-left: 15px;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.toggle-icon{
    color: goldenrod;
    cursor: pointer;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
}

.left-menu-icon{
    color: white;
    margin-bottom: 40px;
}
.container{
    display: flex;
    height: calc(100vh - 50px);
    border-top: none;
    margin: 0;
    padding:0;
    max-width:max-content;
}

.magazine-img-container{
    position: relative;
    flex: 5;
    display: flex;
    background-color:lightgray;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.magazine-img{
    height: 470px;
    width: 340px;
    transition: all 0.7s ease-in-out;
    border: 8px;
    box-shadow: 0 0 20px rgba(0, 0,0, 0.15);
}

.magazine-img:hover{
    transform: scale(1.05);
    opacity: 0.7;
}

.magazine-img-container:hover .icon{
    visibility: visible;
}

.icon-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.icon{
    font-size: 32px;
    visibility: hidden;
    transition: all 0.3s ease-out;
    border-radius: 50%;
    padding: 10px;
    color: #a7a4a4;
    background-color: #fff;
    visibility: notvisible;
    justify-content: center;
    align-self: center;
}

.fa-star:hover{
    color: yellow;
}

.fa-shopping-cart:hover{
    color: #4169e1;
}

.fa-book-open:hover{
    color:gold;
}

.magazine-info-container{
    display: flex;
    flex: 7;
    /* border: 1px solid blue; */
    flex-direction: column;
    margin-left: 30px;
    margin-right: 20px;
    /* background-image: url("/img/magazine-background1.jpg");
    background-size: contain; */
}

.magazine-title-container{
    margin-top: 30px;
    margin-left: 25px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.magazine-title{
    font-family: "Lora",sans-serif;
    color: #444;
    font-size: 38px;
    font-weight: normal;
    display: inline;
}

.magazine-date{
    font-size: 25px;
    color: #fe0914;
    /* color: green; */
    /* color: #be9656; */
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.magazine-details-container{
    height: 290px;
    margin-right: 30px;
    margin-top: 10px;
}

.magazine-details{
    font-family: "Lora",sans-serif;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color:#444;
    font-family: sans-serif;
    justify-content: space-between;
    border-bottom: solid 1px green;
    padding-bottom: 5px;
    margin: 30px;
    margin-top: 8px;
}

.category{
    font-size: 15px;
}

.magazine-desc{
    color: #666;
    font-size: 18px;
    line-height: 25px;
    margin: 30px;
}

.desc-title{
    font-size: 23px;
    font-family: "Lora",sans-serif;
    line-height: 1.25;
    margin-left: 10px;
}

.desc{
    margin: 15px;
    font-size: 18px;
    line-height: 25px;
}
.desc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.pricing-container{
    margin: 0 40px;
}

.price-table{
    font-family: sans-serif;
    margin:25px 0;
    border-collapse: collapse;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0,0, 0.15);
}

.price-table thead tr{
    background-color: #fe0914;
    color: #fff;
    text-align: left;
    font-size: bold;
    font-size: 16px;
}

.price-table th,
.price-table td{
    padding: 12px 15px;
}

.price-table tbody tr{
    border: 1px solid #ddd;
}

.price-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.price-table tbody tr:last-of-type {
    border-bottom: 2px solid #fe0914;
}

.benefits-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.price{
    color: rgb(38, 38, 38);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 5px;
}

.cart-button{
    padding: 8px 10px 6px;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    background-color: rgb(59, 116, 201);
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
}

.cart-button:hover{
    opacity: 0.9;
}

.magazine-review{
    margin: 5px 40px;
}

.review-icon{
    margin-right: 20px;
    font-size: 20px;
}

.review-comment{
    width: 100%;
    margin-top: 6px;
}


body {
    background: #eee
}

.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}

.comments-container{
    padding: 12px 15px;
    max-height: 250px;
    overflow-y: scroll;
}

.comment{
    margin:8px 0;
    border-bottom: 1px solid #a7a4a4;
}

.fa-heart:hover{
    color: red;
    font-size: 22px;
}

